.selected {
  width: 100%;
}
.selected#status {
  width: 100% !important;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}
.selected .ant-select-selector {
  height: auto !important;
  width: 100% !important;
}
.ant-picker {
  padding: 5px 11px 5px !important;
}
#moneyPerWord .ant-input-number {
  width: 100%;
}
span.anticon.anticon-close {
  display: flex;
}
.select-ctv .ant-select-selector{
  height: auto !important;
}
